.form1 {
	text-align: center;
}
#name {
	text-align: center;
	width: 90%;
}
#tel {
	text-align: center;
	width: 90%;
}
#email {
	text-align: center;
	width: 90%;
}
#company {
	text-align: center;
	width: 90%;
}
#textarea {
	padding-top: 25%;
	padding-bottom: 25%;
	width: 90%;
	max-height: 90%;
	max-width: 90%;
}
#subm {
	width: 75%;
}
.subm {
	height: 30px;
	background-color: rgb(38, 4, 94);
	color: #9ccb40;
	font-size: 20px;
	border: 3px solid black;
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: black;
}
