@media only screen and (max-width: 1200px) {
	.main {
		flex-direction: column;
	}
	.news2 {
		order: 0;
		width: auto;
	}
	.news1 {
		order: 1;
		width: auto;
	}
	.news3 {
		order: 2;
		width: auto;
		margin-bottom: 10px;
	}
	.news4 {
		order: 4;
		width: auto;
	}
	.form1 {
		order: 3;
		width: 100%;
		margin-bottom: 10px;
	}
	.sitemap {
		flex-direction: column;
		justify-items: flex-start;
		padding: 10px;
	}
}
