* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
	text-align: center;
}
:root {
	--main-radius: 2px;
	--main-padding: 15px;
	--main-height: 30px;
}
h1,
h2,
h3 {
	font-size: 50px;
	font-weight: 900;
	color: RGB(156, 203, 64);
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: rgb(0, 0, 0);
}
hr.hrs {
	border: 2px solid rgb(38, 4, 94);
	width: 66.6%;
}
.page {
	background-color: rgb(38, 4, 94);
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main {
	display: flex;
	flex-direction: row;
	padding: var(--main-padding);
	flex-wrap: wrap;
	max-height: 90%;
	margin-bottom: 10px;
	justify-content: space-evenly;
}
.news1 {
	background-color: rgb(131, 216, 212);
	width: 33%;
	text-align: left;
	padding: var(--main-padding);
	font-size: 20px;
	margin-bottom: 7px;
	overflow: hidden;
}
.news2 {
	background-color: rgb(131, 216, 212);
	width: 65%;
	margin-bottom: 7px;
	padding: var(--main-padding);
	font-size: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.news2Container {
	text-align: left;
}
#img2 {
	width: 50%;
	height: 50%;
	margin: 10px;
	max-height: 20vh;
	float: right;
	border: 8px solid rgb(38, 4, 94);
}
.news3 {
	background-color: rgb(131, 216, 212);
	width: 33%;
	text-align: left;
	padding: var(--main-padding);
	font-size: 20px;
	overflow: hidden;
}
.news4 {
	background-color: rgb(131, 216, 212);
	width: 32.4%;
	text-align: left;
	padding: var(--main-padding);
	font-size: 20px;
	overflow: hidden;
}
.form1 {
	background-color: rgb(131, 216, 212);
	width: 32%;

	padding: var(--main-padding);
	overflow: hidden;
}
#logoto {
	width: 250px;
	height: 80px;
	max-width: 100%;
	max-height: 8vh;
}
